# ShadowCode Project Environment Variables (Template)

# Server Configuration
PORT=8001
HOST=0.0.0.0
DEBUG=True

# Security Scanner Configuration
TARGET_PATH=./demo_files

# AI / LLM Configuration
GOOGLE_API_KEY=
GITHUB_TOKEN=
REPO_OWNER=
REPO_NAME=

DATABASE_URL=sqlite:///./shadowcode.db
